# Enforce LF line endings for all text files
* text=auto eol=lf

# Denote binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.tgz binary
*.pt binary
*.pth binary
*.pkl binary
*.npy binary
*.npz binary
