run: [train, test]

cutoff_radius: 5.0
chemical_symbols: [C, O, H]
model_type_names: ${chemical_symbols}

data:
  _target_: nequip.data.datamodule.sGDML_CCSD_DataModule
  dataset: aspirin
  data_source_dir: aspirin_data
  transforms:
    - _target_: nequip.data.transforms.NeighborListTransform
      r_max: ${cutoff_radius}
    - _target_: nequip.data.transforms.ChemicalSpeciesToAtomTypeMapper
      chemical_symbols: ${chemical_symbols}
  trainval_test_subset: [40, 10]
  train_val_split: [30, 10]
  seed: 123
  train_dataloader_kwargs:
    batch_size: 1
  val_dataloader_kwargs:
    batch_size: 5
  test_dataloader_kwargs: ${data.val_dataloader_kwargs}
  stats_manager:
    _target_: nequip.data.DataStatisticsManager
    metrics:
      - field:
          _target_: nequip.data.NumNeighbors
        metric: 
          _target_: nequip.data.Mean
        name: num_neighbors_mean
      - field:
          _target_: nequip.data.PerAtomModifier
          field: total_energy
        metric:
          _target_: nequip.data.Mean
        name: per_atom_energy_mean
      - field: forces
        metric:
          _target_: nequip.data.RootMeanSquare
        per_type: true
        name: per_type_forces_rms

trainer:
  _target_: lightning.Trainer
  max_epochs: 5
  check_val_every_n_epoch: 1
  log_every_n_steps: 5
  callbacks:
    - _target_: lightning.pytorch.callbacks.ModelCheckpoint
      dirpath: ${hydra:runtime.output_dir}
      save_last: true

training_module:
  _target_: nequip.train.NequIPLightningModule
  loss:
    _target_: nequip.train.MetricsManager
    metrics:
      - name: force_MSE
        field: forces
        coeff: 1
        metric:
          _target_: nequip.train.MeanSquaredError
  val_metrics: 
    _target_: nequip.train.MetricsManager
    metrics:
      - name: force_RMSE
        field: forces
        metric:
          _target_: nequip.train.RootMeanSquaredError
  test_metrics: ${training_module.val_metrics}
  optimizer:
    _target_: torch.optim.Adam

  model:
    model_builders:
     - nequip.model.SimpleIrrepsConfig 
     - nequip.model.NequIPGNNEnergyModel
     - nequip.model.PerTypeEnergyScaleShift  
     - nequip.model.ForceOutput         
  
    seed: 456
    type_names: ${model_type_names}
    model_dtype: float32
    num_basis: 8
    r_max: ${cutoff_radius}
    l_max: 2
    parity: true
    num_features: 16
  
    per_type_energy_scale_shift_shifts: ${training_data_stats:per_atom_energy_mean}
    per_type_energy_scale_shift_scales: ${training_data_stats:per_type_forces_rms}
    global_rescale_scale: null
    avg_num_neighbors: ${training_data_stats:num_neighbors_mean}

global_options:
  seed: 789
