/* MAIN BODY AREA ------------------------- */

/* change sidebar header color*/
/* the color of the dropdown menu area */
.wy-menu-vertical,
.wy-nav-side {
    background: #2f2f2f;
}

/* change sidebar header color*/
.wy-side-nav-search,
.wy-nav-top {
    background: #2f2f2f;
}

/* LINK COLORS ---------------------- */
/* link colors in general*/
a:link {
    color: #1e52b4;
}

/* keep clicked link colors the same */
a:visited {
    color: #0040b6;
}

/* link colors when moused over */
a:hover {
    color: #496cab;
}

/* hippo color #1e52b4 */
/* change "contents" label in the sidebar */
.wy-menu-vertical header,
.wy-menu-vertical p.caption {
    color: #1e52b4;
}

/* change sidebar logo size */
.wy-side-nav-search .wy-dropdown>a img.logo,
.wy-side-nav-search>a img.logo {
    max-width: 90%;
}

/* link colors in sidebar */
.wy-menu-vertical a {
    color: #d9d9d9;
}