name: Run Tests

on:
  push:
    branches:
      - main
      - develop
  pull_request:
    branches:
      - main
      - develop

concurrency:
  # github.workflow will be the name of the workflow, e.g. "Run Tests"
  # github.ref will be the branch or tag ref, e.g. "refs/heads/main" or, for a PR, "refs/pull/123/merge"
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  run-tests:
    runs-on: ${{ github.event.repository.private && 'self-hosted' || 'ubuntu-latest' }}
    strategy:
      matrix:
        torch-version: [2.2.0, "2.*"]
    container:
      image: nvidia/cuda:12.4.1-cudnn-devel-ubuntu22.04
      options: ${{ github.event.repository.private && '--gpus all' || ' ' }}
    steps:
    - uses: actions/checkout@v4
    - name: Install Python
      run: |
        apt update && apt install -y python3 python3-pip
        python3 -m pip install --upgrade pip
    - name: Linting
      run: |
        pip install flake8==7.1.0 Flake8-pyproject black
        flake8 . --count --show-source --statistics
        black . --check
    - name: Install PyTorch
      env:
        TORCH: "${{ matrix.torch-version }}"
      run: |
        # use CPU only on GH runner
        if [ "${{ github.event.repository.private }}" = "true" ]; then
            pip install torch==${TORCH} --upgrade
        else
            pip install torch==${TORCH} --index-url https://download.pytorch.org/whl/cpu --upgrade
        fi
    - name: Install test dependencies
      run: |
        # install packages that aren't required dependencies but that the tests do need
        pip install h5py vesin
        pip install --upgrade-strategy only-if-needed .
        pip install pytest pytest-xdist[psutil]
    - name: Test with pytest
      run: |
        # See https://github.com/pytest-dev/pytest/issues/1075
        PYTHONHASHSEED=0 pytest -n auto tests/
